//This is an easy fix.
If R/ = true
Insert ""You seem to have messed up the link, which is inaccessible to mobile users. r/(example) is the correct format. Remember, r/, not R/! **I am a bot. |**  Upvote if correct, downvote if wrong, and report if fix is needed.
**Z3R0M3M3Z bot by **Z3R0M3M3Z**.*  **|** Github link *[here.] (https://github.com/Z3R0D4YZ/Z3R0M3M3Z-bot)*"
//Roll dice, baby!
//Test video: https://goo.gl/CSFBkY
